<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>home  page </title>
   </head>
   <body>
      
      <h1><center>DEMONSTRATION  DE MA PLATEFORME DEVOPS</center> </h1>
      <h2><span><center> AUJOURD'HUI</center></span></h2>
      <h2> <center> Qu'est que DevOps ?</center></h>
      <h2> <center>  DevOps = Dev +Ops </center></h>
      <h2> <center> Dev</center></h>
      <h2> <center> Ops</center></h>
    
      <img src="devopsCodeprogression.ipg" alt="devops"/>
          <h2>Demo</h2>
   </body>
    
</html>